
# ===== Database =====
DATABASE_URL=
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=

# ===== Redis =====
REDIS_URL=
REDIS_HOST=
REDIS_PORT=
REDIS_KEY=
# ===== JWT =====

SECRETJWT=

# Access Token
JWT_ACCESS_SECRET=
JWT_ACCESS_EXPIRY=15m
JWT_ACCESS_EXPIRY_SECONDS=900


# Refresh Token
JWT_REFRESH_SECRET=
JWT_REFRESH_EXPIRY=15d
JWT_REFRESH_EXPIRY_SECONDS=1296000

# ===== App =====
PORT=3001
NODE_ENV=development

# ===== Role =====
ROLES_KEY=
# ===== Public Decorator =====
IS_PUBLIC_KEY=
# ===== Skip Profile Driver Decorator =====
IS_PUBLIC_PROFILE_KEY=
# ===== Skip Profile Trainee Decorator =====
SKIP_TRAINEE_PROFILE_KEY=


#OWNERS
OWNER_USERNAME = ''
OWNER_PASSWORD = ''
OWNER_PASSWORD_X = ''

#THROTTLER
THROTTLE_TTL = 20
THROTTLE_LIMIT = 60 * 1000

# --- Encryption ---
ENC_KEY==
ENC_ALGORITHM=aes-256-gcm
ENC_IV_LENGTH=12
ENC_AUTHTAG_LENGTH=16

# --- HMAC ---
HMAC_KEY=
HMAC_ALGORITHM=sha256

# --- License Defaults ---
LICENSE_DEFAULT_EXPIRE_DAYS=30
LICENSE_RENEWABLE=true

# --- Requirements ---
LICENSE_REQUIRE_HARDWARE_ID=false
LICENSE_REQUIRE_FEATURES=false
